.contenedor {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12, 1fr); 
    gap: 10px;
    height: 50px;


}



.cuadro-1{
    grid-column: 1/13;
    background-color: red;
    color: white;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content:center ;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-size: 30px;
    
}

.cuadro-2{
    grid-column: 1/13;
    background-color: red;
    color: white;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content:center ;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px; 
    font-size: 30px;

}
.cuadro-3{
    grid-column: 1/13;
    background-color: red;
    color: white;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content:center ;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-size: 30px;
}

.cuadro-4{ 
    grid-column: 1/13;
    background-color: red;
    color: white;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content:center ;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-size: 30px;
}

.cuadro-5{ 
    grid-column: 1/13;
    background-color: red;
    color: white;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content:center ;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-size: 30px;
}




.checkbox {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
}